body {
  overflow : hidden; /*はみ出した部分を隠す*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,#fbf9eb), color-stop(55%,#f1eed6), color-stop(100%,#fbf9eb));
  background: linear-gradient(to bottom, #fbf9eb 55%, #f1eed6 55%, #fbf9eb 100%); /*後ろの背景を徐々にグラデーションしている*/
}

/* CSSアニメーションの設定 */
.korokoro {
  -webkit-animation: korokoro 2.5s linear 0s 1;
  animation-name: korokoro 2.5s linear 0s 1;
}
@-webkit-keyframes korokoro {
  0%   { -webkit-transform: translate(0%, 0%); }
  5%   { -webkit-transform: translate(10%, 0%) rotate(10deg); }
  25%  { -webkit-transform: translate(20%, 0%) rotate(20deg); }
  30%  { -webkit-transform: translate(-10%, 0%) rotate(-10deg); }
  35%  { -webkit-transform: translate(-15%, 0%) rotate(-15deg); }
  45%  { -webkit-transform: translate(10%, 0%) rotate(10deg); }
  50%  { -webkit-transform: translate(15%, 0%) rotate(15deg); }
  60%  { -webkit-transform: translate(-5%, 0%) rotate(-5deg); }
  65%  { -webkit-transform: translate(-7%, 0%) rotate(-7deg); }
  75%  { -webkit-transform: translate(0%, 0%) rotate(0deg); }
  100% { -webkit-transform: translate(0%, 0%) rotate(0deg); }
}

@keyframes korokoro {
  0%   { transform: translate(0%, 0%); }
  5%   { transform: translate(10%, 0%) rotate(10deg); }
  25%  { transform: translate(20%, 0%) rotate(20deg); }
  30%  { transform: translate(-10%, 0%) rotate(-10deg); }
  35%  { transform: translate(-15%, 0%) rotate(-15deg); }
  45%  { transform: translate(10%, 0%) rotate(10deg); }
  50%  { transform: translate(15%, 0%) rotate(15deg); }
  60%  { transform: translate(-5%, 0%) rotate(-5deg); }
  65%  { transform: translate(-7%, 0%) rotate(-7deg); }
  75%  { transform: translate(0%, 0%) rotate(0deg); }
  100% { transform: translate(0%, 0%) rotate(0deg); }
}



.post {
  position: relative;
  top: 20%;
  bottom: 50%;
  left: 70%;
}


.botan{
  position: relative;
  top: 10%;
  bottom: 45%;
  left: 0.005%;
}



.fukidashi {
  position: absolute;
  top: 0;
  left: 0;
  right: 400;
  bottom: 500;
  margin: auto;
  
}

img, div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}



/* div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
} 

.korokoro, .shadow{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


/* .contents {
  width: 100% !important;
  height: 100vh !important;
}

.layer-img {
  top: 0 !important;
  bottom: 0!important;
  right: 0 !important;
  margin: auto 0 !important;
  position: absolute !important;
} */

